@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f5f2f2;
  position: relative;
}
.userhistory {
  background-color: #ffffff;
  padding: 2rem;
  height: 30vh;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  text-align: center;
}
#taskinfomodal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.taskinfotitle {
  font-size: 28px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.modal-content {
  background-color: #f0f3ff;
  border-radius: 15px;
  margin: auto;
  border: 1px solid #d7d7d7;
  width: 80%;
}
.modalheader {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
}
.modalmain {
  margin: 20px 10px 20px 10px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.modalinputs {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.modalmain .modalinputs .info1,
.modalmain .modalinputs .info2 {
  flex-basis: 50%;
}
.modalmain .modalinputs p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.modalmain .modalinputs input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d7d7d7d7;
  margin-block: 10px;
  outline: none;
  transition: 0.3s ease;
  font-size: 16px;
  width: 95%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
}
.modalmain .modalinputs input:focus {
  border: 1px solid #61ce70;
}

.modalmain .modalinputs .info2sub p {
  font-size: 14px;
  font-weight: 400;
  color: #454545;
}
.modalmain .modalinputs .info2sub input {
  width: 5%;
}
.modalmain .modaltodo {
  flex-basis: 50%;
  border: 1px solid #f0f3ff;
  border-radius: 15px;
  background-color: #f0f3ff;
  padding: 10px;
  margin-top: 20px;
}
.modalmain .modaltodo .modaltodotop {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}
.modalmain .modaltodo .modaltodotop .todotitle,
.modalmain .modaltodo .modaltodotop .todoactions {
  flex-basis: 50%;
}
.modalmain .modaltodo .modaltodotop h1 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.modalmain .modaltodo .modaltodotop .modaltodoactions {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.modalmain .modaltodo .modaltodotop p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.modalmain .modaltodo .modaltodotop .modaltodoicon {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  border: none;
}
.modalmain .modaltodo .itembox {
  margin-block: 10px;
  padding: 20px 20px 20px 10px;
  background-color: #ffffff;
  border-radius: 15px;
  border-left: 4px solid #61ce70;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.modalmain .modaltodo .itembox input {
  font-size: 16px;
  font-weight: 400;
  color: #454545;
  vertical-align: middle;
  border: none;
  border-bottom: 1px solid #d7d7d7;
  cursor: text;
  position: relative;
  width: 90% !important;
  outline: none;
  transition: 0.3s ease;
}
.modalmain .modaltodo .itembox input:focus {
  border-bottom: 1px solid #61ce70;
  outline: none;
}
.modalmain .modaltodo .itembox .modaldeletebtn {
  font-size: 16px;
  font-weight: 400;
  border: none !important;
  background: transparent !important;
  outline: none;
  cursor: pointer !important;
}
.modalmain .modaltodo .itembox .modaldeleteicon {
  font-size: 16px;
  font-weight: 400;
  color: #c00000 !important;
  cursor: pointer !important;
}
.modalmain .modaltodo .itembox .movebtn {
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  border: none !important;
  outline: none;
  cursor: pointer !important;
  margin-right: 5px;
}
.modalmain .modaltodo .itembox .moveicon {
  font-size: 16px;
  font-weight: 400;
  color: #61ce70 !important;
  cursor: pointer !important;
}
.modalfooter {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 1rem;
  text-align: right;
}
.modalfooter button {
  padding: 10px;
  border-radius: 10px;
  background-color: #61ce70;
  border: 1px solid #61ce70;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s ease;
}
.modalfooter button:hover {
  background-color: #ffffff;
  border: 1px solid #61ce70;
  color: #454545;
}
.modalclose {
  color: #454545;
  float: right;
  font-size: 24px;
  font-weight: bold;
}
.modalclose:hover,
.modalclose:focus {
  color: #61ce70;
  text-decoration: none;
  cursor: pointer;
}
.landingtitle {
  text-align: center;
  transform: translateY(-90%);
}
.landingtitle h1 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.landingtitle input {
  padding: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid #d7d7d7d7;
  width: 60%;
  margin-block: 10px;
  outline: none;
  transition: 0.3s ease;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
}
.landingtitle input:focus {
  border: 1px solid #61ce70;
}
.landingtitle button {
  padding: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid #d7d7d7d7;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  outline: none;
  margin-left: -5px;
  transition: 0.3s ease;
}
.landingtitle button:hover {
  border: 1px solid #61ce70;
  background-color: #61ce70;
  color: #ffffff;
}
.historyrow {
  transform: translateY(-40%);
}
.historyrow h1 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.taskcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-block: 20px;
}
.taskcontainer .task {
  flex-basis: 23%;
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}
.taskcontainer .task:hover {
  border: 1px solid #61ce70;
}
.task h1 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: left;
}
.task p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: left;
}
#todolist {
  padding: 2rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header .leftcol,
.header .rightcol {
  flex-basis: 50%;
}
.header .leftcol h1 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #454545;
}
.header .leftcol p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #454545;
}
.header .leftcol input {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #454545;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  border: 1px solid #d7d7d7d7;
  outline: none;
  margin-block: 10px;
}
.header .leftcol input:focus {
  outline: none;
}
.header .rightcol {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  text-align: right;
}
.header .rightcol .timer,
.header .rightcol .share,
.header .rightcol .edittitle {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #454545;
}
.header .rightcol .edittitle {
  cursor: pointer;
}
.header .rightcol #timericon {
  font-size: 16px;
  color: #454545;
}
.container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
  gap: 10px;
}
.container .todo,
.container .inprogress,
.container .done {
  flex-basis: 32%;
  border: 1px solid #f0f3ff;
  border-radius: 15px;
  background-color: #f0f3ff;
  padding: 10px;
}
.container .todo .top,
.container .inprogress .top,
.container .done .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
}
.container .todo .top .todotitle,
.container .todo .top .todoactions {
  flex-basis: 50%;
}
.container .todo .top h1,
.container .inprogress .top h1,
.container .done .top h1 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.container .todo .top p,
.container .inprogress .top p,
.container .done .top p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.container .todo .top .todoactions {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.container .todo .top .todoicon {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  border: none;
}
.container .todo .itembox,
.container .inprogress .itembox,
.container .done .itembox {
  margin-block: 10px;
  padding: 20px 20px 20px 10px;
  background-color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  border-left: 4px solid #61ce70;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.container .todo .itembox p,
.container .inprogress .itembox p,
.container .done .itembox p {
  font-size: 16px;
  font-weight: 400;
  color: #454545;
  vertical-align: middle;
}

.container .todo .itembox input,
.container .inprogress .itembox input,
.container .done .itembox input{
  font-size: 16px;
  font-weight: 400;
  color: #454545;
  vertical-align: middle;
  border: none;
  border-bottom: 1px solid #d7d7d7;
  cursor: text;
  position: relative;
  width: 80% !important;
  outline: none;
  transition: 0.3s ease;
}
.container .todo .itembox input:focus,
.container .inprogress .itembox input:focus,
.container .done .itembox input:focus  {
  border-bottom: 1px solid #61ce70;
  outline: none;
}
.container .todo .itembox .tododeletebtn {
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.container .todo .itembox .tododeleteicon {
  font-size: 16px;
  font-weight: 400;
  color: #c00000;
  cursor: pointer;
}
.container .todo .itembox .todomovebtn {
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  border: none !important;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}
.container .todo .itembox .todomoveicon {
  font-size: 16px;
  font-weight: 400;
  color: #61ce70 !important;
  cursor: pointer;
}

.container .inprogress .itembox input{
    width: 90% !important;
}
.container .inprogress .itembox .progmovebtn {
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  border: none !important;
  outline: none;
  cursor: pointer !important;
  margin-right: 5px;
}
.container .inprogress .itembox .progmoveicon {
  font-size: 16px;
  font-weight: 400;
  color: #61ce70 !important;
  cursor: pointer !important;
}
.container .inprogress .itembox .itemtimer {
    flex-basis: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #454545;
    vertical-align: middle;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #d7d7d7;
    cursor: text;
    position: relative;
    outline: none;
    transition: 0.3s ease;
}
.container .todo .itembox .itemtimer:focus  {
  border-bottom: 1px solid #61ce70;
  outline: none;
}
.container .inprogress .itembox .tasktimertext {
    flex-basis: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #61ce70;
    margin-top: 10px;
  }
.footer {
  text-align: center;
  margin-top: 20px;
}
.footer p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #454545;
}
.hide,
#hide {
  display: none;
}
